<div class="page-header">
  <%= link_to source_code_credits_path, class: 'btn btn-default' do %>
    All Source_code_credits
  <% end %>
  <%= link_to edit_source_code_credit_path(@source_code_credit), class: 'btn btn-primary' do %>
    Edit
  <% end %>
  <h1>Show source_code_credit</h1>
</div>

<dl class="dl-horizontal">
  <dt>Name of work:</dt>
  <dd><%= @source_code_credit.name_of_work %></dd>

  <dt>Url:</dt>
  <dd><%= @source_code_credit.url %></dd>

  <dt>License kind:</dt>
  <dd><%= @source_code_credit.license_kind %></dd>

  <dt>License text:</dt>
  <dd><%= @source_code_credit.license_text %></dd>

</dl>
