


<div class="row">
  <div class="col-sm-6">
    <h1>Source_code_contributors</h1>
  </div>

  <div class="col-sm-6 text-right">
  <%= link_to new_source_code_contributor_path, class: 'btn btn-primary' do %>
    Add New Source code contributor
  <% end %>
  </div>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
    

            <th>First name</th>
            <th>Last name</th>
            
          <th></th>
        
      </tr>
    </thead>

    <tbody>
      <% @source_code_contributors.each do |source_code_contributor| %>
        <%= content_tag :tr, id: dom_id(source_code_contributor), class: dom_class(source_code_contributor) do %>
          

                      <td><%= source_code_contributor.first_name %></td>
                      <td><%= source_code_contributor.last_name %></td>
          
          
            <td><%= link_to 'Show', source_code_contributor %></td>
          
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
