<%= form_with(model: profile, local: true) do |form| %>
  <% if profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

      <ul>
      <% profile.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group" data-uppy="profile[avatar]">
    <%= form.label :avatar %>
    <div class="">
    <% if @profile.avatar.attached? %>
      <%= image_tag @profile.avatar, width: 280, data: { behavior: 'uppy-preview' } %>
    <% else %>
      <img src="" alt="" data-behavior="uppy-preview">
    <% end %>
    </div>

    <%= link_to 'Upload Avatar', "#",  data: {behavior: 'uppy-trigger'} %>
  </div>

  <div class="form-group">
    <%= form.label :city %>
    <%= form.text_field :city, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :state %>
    <%= form.text_field :state, class: 'form-control' %>
  </div>

  <div class="form-group">
    <% if profile.persisted? %>
      <div class="float-right">
        <%= link_to 'Destroy', profile, method: :delete, class: "text-danger", data: { confirm: 'Are you sure?' } %>
      </div>
    <% end %>

    <%= form.submit class: 'btn btn-primary' %>

    <% if profile.persisted? %>
      <%= link_to "Cancel", profile, class: "btn btn-link" %>
    <% else %>
      <%= link_to "Cancel", profiles_path, class: "btn btn-link" %>
    <% end %>
  </div>
<% end %>
