<div class="page-header">
  <%= link_to edit_profile_path(@profile), class: 'btn btn-primary' do %>
    Edit
  <% end %>
  <h1><%= @profile.user.name.full %> </h1>
</div>

<dl class="dl-horizontal">
  <dt>City:</dt>
  <dd><%= @profile.city %></dd>

  <dt>State:</dt>
  <dd><%= @profile.state %></dd>

</dl>

<dl>
  <dt>Avatar:</dt>
  <dd>
    <% if @profile.avatar.attached? %>

      <%= image_tag @profile.avatar, width: 280 %>
    <% end %>
    
  </dd>
</dl>

<dl>
  <dt>Banner:</dt>
  <dd>
    <%# if @profile.banner.attached? %>

      <%#= image_tag @profile.banner, width: 50vw %>
    <%# end %>
    
  </dd>
</dl>
