<h1>Someone reached out to us</h1>

First Name:  <%= @message.first_name %><br>
Last Name:  <%= @message.last_name %><br>
Email: <%= @message.email %><br>
Phone Number:  <%= @message.phone_number %><br>
Message:<br>
<%= @message.body %><br>


<p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aliquid debitis neque inventore quae cum! Illo et nihil eius quasi id. Modi, eaque hic in nisi reiciendis vitae aliquam architecto quos?
</p>