<style type="text/css">
    .responsive-header-img {
        background-image: url('<%= rails_blob_url(@author.profile.banner) %>');
    }

    @media(max-width: 1000px) {
        .responsive-header-img {
            background-image: url('<%= rails_blob_url(@author.profile.banner) %>');
            background-image: -webkit-image-set(url('<%= rails_blob_url(@author.profile.banner) %>') 1x,
                url('<%= rails_blob_url(@author.profile.banner) %>') 2x);
            background-image: image-set(url('<%= rails_blob_url(@author.profile.banner) %>') 1x,
                url('<%= rails_blob_url(@author.profile.banner) %>') 2x);
        }
    }

    @media(max-width: 600px) {
        .responsive-header-img {
            background-image: url('<%= rails_blob_url(@author.profile.banner) %>');
            background-image: -webkit-image-set(url('<%= rails_blob_url(@author.profile.banner) %>') 1x,
                url('<%= rails_blob_url(@author.profile.banner) %>') 2x);
            background-image: image-set(url('<%= rails_blob_url(@author.profile.banner) %>') 1x,
                url('<%= rails_blob_url(@author.profile.banner) %>') 2x);
        }
    }
</style>

<style>

.site-header-content .author-profile-image {
    z-index: 10;
    flex-shrink: 0;
    margin: -4px 0 0;
    width: 110px;
    height: 110px;
    box-shadow: rgba(255,255,255,0.1) 0 0 0 6px;
}

.author-header-content .author-meta {
    z-index: 10;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    margin: 0 0 0 1px;
    font-size: 1.2rem;
    font-weight: 400;
    letter-spacing: 0.2px;
    text-transform: uppercase;
    white-space: nowrap;
}

.author-header-content .social-link:first-of-type {
    padding-left: 4px;
}

.no-image .author-header-content .author-bio {
    color: var(--midgrey);
    opacity: 1.0;
}
</style>


<style>
.site-header-background:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    display: block;
    background: rgba(0,0,0,0.18);
}

.site-header-background:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: auto;
    left: 0;
    z-index: 10;
    display: block;
    height: 140px;
    background: linear-gradient(rgba(0,0,0,0.15),rgba(0,0,0,0));
}

.site-header-background.no-image:before,
.site-header-background.no-image:after {
    display: none;
}

.site-header-content {
    z-index: 100;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 6vw 3vw;
    min-height: 200px;
    max-height: 340px;
}

</style>


 
    <div class="outer site-header-background responsive-header-img">
      <div class="inner">
        <div class="site-header-content author-header">
            <%= image_tag @author.profile.avatar, alt: @author.name.full, class:"author-profile-image" %>

          <div class="author-header-content">
            <h1 class="site-title"><%= @author.name.full %></h1>
            <div class="author-meta">
              <div class="author-location">
                <%= @author.profile.city %>, <%= @author.profile.state %>&nbsp;&nbsp;
              </div>
              <div class="author-stats">
                <%= "#{@author.blog_entries.count} posts" %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

 