


<div class="row">
  <div class="col-sm-6">
    <h1>Open_source_contributors</h1>
  </div>

  <div class="col-sm-6 text-right">
  <%= link_to new_open_source_contributor_path, class: 'btn btn-primary' do %>
    Add New Open source contributor
  <% end %>
  </div>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
    

            <th>First name</th>
            <th>Last name</th>
            <th>Url</th>
            <th>Email</th>
            <th>Gravatar username</th>
            
          <th></th>
        
      </tr>
    </thead>

    <tbody>
      <% @open_source_contributors.each do |open_source_contributor| %>
        <%= content_tag :tr, id: dom_id(open_source_contributor), class: dom_class(open_source_contributor) do %>
          

                      <td><%= open_source_contributor.first_name %></td>
                      <td><%= open_source_contributor.last_name %></td>
                      <td><%= open_source_contributor.url %></td>
                      <td><%= open_source_contributor.email %></td>
                      <td><%= open_source_contributor.gravatar_username %></td>
          
          
            <td><%= link_to 'Show', open_source_contributor %></td>
          
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
