


<div class="row">
  <div class="col-sm-6">
    <h1>Open_source_works</h1>
  </div>

  <div class="col-sm-6 text-right">
  <%= link_to new_open_source_work_path, class: 'btn btn-primary' do %>
    Add New Open source work
  <% end %>
  </div>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
    

            <th>Title</th>
            <th>License kind</th>
            <th>License text</th>
            <th>Url</th>
            
          <th></th>
        
      </tr>
    </thead>

    <tbody>
      <% @open_source_works.each do |open_source_work| %>
        <%= content_tag :tr, id: dom_id(open_source_work), class: dom_class(open_source_work) do %>
          

                      <td><%= open_source_work.title %></td>
                      <td><%= open_source_work.license_kind %></td>
                      <td><%= open_source_work.license_text %></td>
                      <td><%= open_source_work.url %></td>
          
          
            <td><%= link_to 'Show', open_source_work %></td>
          
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
