<!DOCTYPE html>
<html>
  <head>
    <%= render 'shared/head' %>
  </head>

  <body>
    <%#= render 'shared/navbar' %>
    <%#= render 'shared/preloading' %>
    <%= render 'shared/header01' %>
    <%= render 'shared/search_form' %>
    <%= render 'shared/popup_menu' %>
    <%= render 'shared/page_banner' %>

    <div id="container">
      <%= yield %>
    </div>

    <%#= render 'shared/footer' %>
    <%= render 'shared/footer' %>
  </body>
</html>
